@mixin container-box($colour) {
    border: 1px solid $colour;
}

[v-cloak] {
  display: none;
}

body {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 960px) {
    max-width: 918px;
    margin: 10px auto 20px;
    @include container-box($main-colour);
    // box-shadow: 0 0 10px 1px #999;
  }
}

h1 {
  background-color: $main-colour;
  color: #fff;
  margin-top: 0;
  padding: 10px 20px;
  @media screen and (min-width: 960px) {
      font-size: 42px;
  }
}

.content {
  padding: 0 20px 20px;

  .content-footer {
    margin-top: 10px;
    @include container-box($main-colour);
  }
}
